<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div id="divLogo" class="pull-left">
    <a href="drivecontrol.html" id="divSiteTitle"><img src="C:\xampp\htdocs\DriveControl\application\views\drivecontrol.png" alt="Site Name" title="Site Name" /></a>
</div>

<div id="divMenuRight" class="pull-right">
    <div class="navbar">
    <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
    NAVIGATION <span class="icon-chevron-down icon-white"></span>
    </button>
           <div class="nav-collapse collapse">
           <ul class="nav nav-pills ddmenu">
           <li class="active"><a href="index.html">Home</a></li>
           <li><a href="about.html">About</a></li>
     <li class="dropdown">
           <a href="page.html" class="dropdown-toggle">Page <b class="caret"></b></a>
           <ul class="dropdown-menu">
           <li class="dropdown">
           <a href="#" class="dropdown-toggle">Dropdown Item  »</a>
           <ul class="dropdown-menu sub-menu">
           <li><a href="#">Dropdown Item</a></li>
           <li><a href="#">Dropdown Item</a></li>
           <li><a href="#">Dropdown Item</a></li>
           </ul>
           </li>
           <li><a href="full.html">Full Page</a></li>
           <li><a href="2-column.html">Two Column</a></li>
           <li><a href="3-column.html">Three Column</a></li>
           </ul>
           </li>
     <li><a href="services.html">Services</a></li>
     <li><a href="portfolio.html">Portfolio</a></li>
     <li><a href="contact.php">Contact</a></li>
           </ul>
           </div> 

</body>
</html>