.container {


        width: 200px;
        padding: 10px 10px;
 

    }
 .profile-img-card {
        width: 30%;

        /*height: 96px;*/
        margin: 0 auto 10px;
        display: block;
    }


